<!-- Obtaining value from the course controller -->
 
<h3>{{viewTitle}}</h3>
<form action="/course" method="POST">
<input type="hidden" name="_id" value="{{course._id}}">
 
<div class = "form-group">
<label>Book Name</label>
<input type="text" maxlength="100" class="form-control" name="bookName" placeholder="Book Name" value="{{course.bookName}}">
 
<div class="text-danger">
{{course.bookNameError}}</div>
</div>
<div class = "form-group">
<label>Book ISBN</label>
<input type="number"  class="form-control" name="bookISBN" placeholder="Book ISBN" value="{{course.bookISBN}} " required>
</div>
<div class = "form-row">
<div class = "form-group col-md-6">
<label>Book Author</label>
<input type="text" class="form-control" name="bookAuthor" placeholder="Book Author" "{{course.bookAuthor}} " required>
</div>
<div class = "form-group col-md-6">
<label>Book Price</label>
<input type="number"  class="form-control" name="bookPrice" placeholder="Book Price" "{{course.bookPrice}} " required>
</div>
</div>
<div class="form-group">
<button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
<a class="btn btn-secondary" href="/course/list"><i class="fa fa-list-alt"></i> View All Books</a>
</div>
</form>